<?xml version="1.0"?>
<launch>
  <arg name="cam_image_topic" default="camera/image_raw" />
  <arg name="cam_info_topic" default="camera/camera_info" />

  <node name="ar_track_alvar"
    pkg="ar_track_alvar"
    type="individualMarkersNoKinect"
    output="screen">
    <rosparam command="load" file="$(find leo_example_follow_ar_tag)/config/alvar.yaml" />

    <remap from="camera_image" to="$(arg cam_image_topic)" />
    <remap from="camera_info" to="$(arg cam_info_topic)" />
  </node>

  <node name="ar_logger" pkg="ar_logger" type="logger.py" output="screen">
        <param name="robot_name" value="Connor"/> 
        <param name="trial_no" value="1"/>
        <param name="trial_scenario" value="AF"/> 
        <!-- For the trial scenario, the four scenarios are: 
        AF = all fast, AS = all slow, 1:3FS = 1 fast 3 slow, 2:2FS = 50/50 split
        3:1FS = 3 fast 1 slow -->  
  </node>

</launch>
